* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}
.global {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: white;
  background: rgb(50, 76, 168);
}
.search {
  position: relative;
  left: 60%;
}
.container {
  display: grid;
}
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1;
}
.explorer {
  grid-column: 2 / 2;
  grid-row: 1;
  position: absolute;
  width: 100vw;
}
