* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}
.global {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: rgb(50, 76, 168);
  background: white;
}
.search {
  position: relative;
  left: 60%;
}
.container {
  display: flex;
}
.sidebar {
  
}
.explorer {
  top: 10vh;
  position: relative;
  height: 100vh;
  width: 80vw;
  left: 15%;
}
