* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
.global {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: black;
}
