.bar {
  position: relative;
  height: 5vh;
  width: 30%;
  background: transparent;
  margin: 3vh;
  border-radius: 25px;
  box-shadow: 0px 0px 1px 2px rgb(66, 135, 245);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
  align-content: space-between;
}

.icon {
  position: relative;
  color: rgb(66, 135, 245);
  text-align: center;
  bottom: -10%;
  margin: 0 0 10px 15px;
  padding-right: 10px;
}

.input {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  color: lightgray;
}

input {
  outline: none;
}
::placeholder {
  color: rgb(66, 135, 245);
}
