.bar {
  position: relative;
  height: 5vh;
  width: 30%;
  background: transparent;
  margin: 3vh;
  border-radius: 25px;
  box-shadow: 0px 0px 1px 2px rgb(66, 135, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  position: relative;
  color: rgb(66, 135, 245);
  margin: 0 .5rem 0 1rem;
  padding-right: 10px;
}

.input {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  color: lightgray;
  width: 100%;
}

input {
  outline: none;
}
::placeholder {
  color: rgb(66, 135, 245);
}
