.icon {
  position: relative;
  font-size: 50px;
  color: rgb(66, 135, 245);
}
.icon:hover {
  color: black;
}
.list {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.drawer {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 2%;
  left: 3%;
  gap: 5%;
  z-index: 4;
}
.list li {
  color: rgb(66, 135, 245);
  padding: 30px 0 0 20px;
  cursor: default;
}
.list li:hover {
  color: black;
}

.list li::after {
  content: "";
  height: 0.1vw;
  width: 3vw;
  display: flex;
  background-color: rgb(66, 135, 245);
  margin: 15px 30px 20px 0px;

  position: absolute;
}
.list li:hover::after {
  width: 7vw;
  transition: 0.5s ease-in-out;
}
ul.list {
  display: flex;
  row-gap: 20px;
}
.vl {
  height: 80vh;
  width: 1%;
  position: absolute;
  justify-content: center;
  background-color: rgb(66, 135, 245);
}
.hl {
  width: 0.1vw;
  height: 5vw;
  background-color: rgb(66, 135, 245);
  transform: rotate(90deg);
}
.bar {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*column-gap: 100px;*/
}
div.vl div {
  position: relative;
  height: 100%;
  width: 100%;
}
.reveal {
  transform: translateX(0%);
  animation-fill-mode: forwards;
  transition: 0.5s ease-in-out;
}
.hide {
  transform: translateX(-300%);
  animation-fill-mode: forwards;
  transition: 0.5s ease-in-out;
}
